.TopPage {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);

  width: 100vmin;
  height: 100vmin;
}

.TopPage-title {
  font-size: 1.6rem;
  font-weight: lighter;

  position: absolute;
  top: 5vmin;
  left: 5vmin;

  z-index: 1000;
}