.Calendar {
  --bg-color: radial-gradient(circle, rgba(99,176,86,1) 0%, rgba(1,33,1,1) 91%, rgba(0,25,3,1) 100%);
  background: var(--bg-color);
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;

  animation: blink-show 0.5s linear 5.1s both;
}

.Calendar p {
  flex-grow: 1;
  height: 50%;

  display: flex;
}

.Calendar-months-wrapper {
  justify-content: flex-end;
  align-items: flex-start;
  transform-origin: right center;
  transform: rotate(30deg);
  border-right: 1px solid var(--font-color);
  overflow: hidden;
}
.Calendar-days-wrapper {
  justify-content: flex-start;
  align-items: flex-end;
  transform-origin: left center;
  transform: rotate(30deg);
  border-left: 1px solid var(--font-color);
  overflow: hidden;
}
.Calendar-months {
  transform-origin: right center;
  transform: rotate(-30deg);
}
.Calendar-days {
  transform-origin: left center;
  transform: rotate(-30deg);
}