.Clock {
  --bg-color: radial-gradient(circle, rgba(21,106,6,1) 0%, rgba(1,33,1,1) 81%, rgba(0,25,3,1) 100%);
  background: var(--bg-color);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;

  display: flex;
  font-size: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--font-color);
}

.Clock-dots {
  width: 100%;
  display: flex;
  justify-content: center;
}
.Clock-hours {
  margin-bottom: 1vmin;
}
.Clock-dots::before {
  margin-right: 5vmin;
}
.Clock-dots::before, .Clock-dots::after {
  content: '';
  display: block;
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 50%;
  background: transparent;
}
.Clock-dots.enable::before, .Clock-dots.enable::after {
  background-color: var(--font-color);
}