.ShowState {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  --bg-color: radial-gradient(circle, rgba(21,106,6,1) 0%, rgb(1, 22, 1) 64%, rgb(0, 10, 1) 100%);
  background: var(--bg-color);

  animation: blink-show 0.8s linear 4.8s both;
}

.ShowState-sub {
  border-top: 2px solid var(--font-color);
  padding-top: 0.1rem;
  font-size: 0.8rem;
}
.ShowState-count {
  font-size: 3rem;
  padding-bottom: 0.2rem;
}