.RadioInput {
  position: absolute;
  top: 54vmin;
  left: 12vmin;
}

.RadioInput-input {
  display: none;
}
.RadioInput-input:checked + .RadioInput-label {
  background-color: rgb(1, 50, 30);
}
.RadioInput-label {
  width: 100%;
  height: 100%;
  background-color: black;
  transition: background-color ease 0.5s;
  display: flex;

  justify-content: center;
  align-items: center;
}
.RadioInput-title {
  position: absolute;
  z-index: 100;
  left: 55vmin;
  top: 1vmin;
  text-align: right;
  font-size: 1rem;
  font-weight: lighter;
}
.RadioInput-title p {

}