* {
  margin: 0;
  user-select: none;
}

html {
  font-size: 5vmin;
  overflow: hidden;
}

body {
  font-family: 'Major Mono Display', monospace;

  --bg-color: #031d03;
  --font-color: #eeffee;
  --shadow: #010e01c7;
  background-color: var(--bg-color);
  color: var(--font-color);

  font-size: 1rem;
  font-weight: lighter;

  --sqrt3: 1.73205080757;
}